/* Text Colors */
.t-blue {
  color: blue;
}

.t-red {
  color: red;
}

.t-green {
  color: green;
}

.t-yellow {
  color: yellow;
}

.t-black {
  color: black;
}

.t-white {
  color: white;
}

/* Background Colors */

.b-blue {
  background-color: blue;
}

.b-red {
  background-color: red;
}

.b-green {
  background-color: green;
}

.b-yellow {
  background-color: yellow;
}

.b-black {
  background-color: black;
}

.b-white {
  background-color: white;
}

/* Margin */
.m-1 {
  margin: 1%;
}

.m-2 {
  margin: 2%;
}

.m-3 {
  margin: 3%;
}

.m-4 {
  margin: 4%;
}

.m-5 {
  margin: 5%;
}

/* Margin Top */
.mt-1 {
  margin-top: 1%;
}

.m-2 {
  margin-top: 2%;
}

.m-3 {
  margin-top: 3%;
}

.m-4 {
  margin-top: 4%;
}

.m-5 {
  margin-top: 5%;
}

/* Margin Bottom */
.mb-1 {
  margin-bottom: 1%;
}

.mb-2 {
  margin-bottom: 2%;
}

.mb-3 {
  margin-bottom: 3%;
}

.mb-4 {
  margin-bottom: 4%;
}

.mb-5 {
  margin-bottom: 5%;
}

/* Margin X-Axis */
.mx-1 {
  margin: 0 1%;
}

.mx-2 {
  margin: 0 2%;
}

.mx-3 {
  margin: 0 3%;
}

.mx-4 {
  margin: 0 4%;
}

.mx-5 {
  margin: 0 5%;
}

/* Margin Y-Axis */
.my-1 {
  margin: 1% 0;
}

.my-2 {
  margin: 2% 0;
}

.my-3 {
  margin: 3% 0;
}

.my-4 {
  margin: 4% 0;
}

.my-5 {
  margin: 5% 0;
}

/* Padding */
.p-1 {
  padding: 1%;
}

.p-2 {
  padding: 2%;
}

.p-3 {
  padding: 3%;
}

.p-4 {
  padding: 4%;
}

.p-5 {
  padding: 5%;
}

/* Padding Top */
.pt-1 {
  padding-top: 1%;
}

.p-2 {
  padding-top: 2%;
}

.p-3 {
  padding-top: 3%;
}

.p-4 {
  padding-top: 4%;
}

.p-5 {
  padding-top: 5%;
}

/* Padding Bottom */
.pb-1 {
  padding-bottom: 1%;
}

.pb-2 {
  padding-bottom: 2%;
}

.pb-3 {
  padding-bottom: 3%;
}

.pb-4 {
  padding-bottom: 4%;
}

.pb-5 {
  padding-bottom: 5%;
}

/* Margin X-Axis */
.px-1 {
  padding: 0 1%;
}

.px-2 {
  padding: 0 2%;
}

.px-3 {
  padding: 0 3%;
}

.px-4 {
  padding: 0 4%;
}

.px-5 {
  padding: 0 5%;
}

/* Margin Y-Axis */
.py-1 {
  padding: 1% 0;
}

.py-2 {
  padding: 2% 0;
}

.py-3 {
  padding: 3% 0;
}

.py-4 {
  padding: 4% 0;
}

.py-5 {
  padding: 5% 0;
}
